body {
	color: black;
}
.app {
	background: #f0f0f0;
}
.section {
	background: none;
}

.match-block {
	text-align: center;
	background: whitesmoke;
	color: #7b7b7b;
}
.match-block h2 {
	padding: 6px 0;
	margin: 0;
}

.match-row {
	padding: 0;
	border: 2px solid #BFBFBF;
    margin-bottom: 20px;
}
.match-row span {
	font-size: 15px;
}
.match-row .name {
	font-size: 25px;
}

.match-row .goals {
	font-size: 20px;
}

.angular-google-map-container { height: 400px; }