<form name="infoform" novalidate data-toggle="validator">
    <div class="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error':(infoform.name.$dirty && infoform.name.$invalid)}">
                        <label for="email">Nombre:</label>
                        <input type="text" class="form-control" ng-model="client.name" name="name" required>
                        <div class="help-block with-errors" ng-show="infoform.name.$dirty && infoform.name.$invalid">
                            <ul class="list-unstyled">
                                <li>El nombre del complejo es requerido</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group" ng-class="{'has-error':(infoform.address.$dirty && infoform.address.$invalid)}">
                        <label for="email">Direccion:</label>
                        <input type="text" class="form-control" ng-model="client.address" name="address" required>
                        <div class="help-block with-errors" ng-show="infoform.address.$dirty && infoform.address.$invalid">
                            <ul class="list-unstyled">
                                <li>La dirección del complejo es requerida</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" class="form-control" ng-model="client.email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="email">tu hermana:</label>
                        <button ng-click="pepe()">lalala</button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <ui-gmap-google-map center='map.center' zoom='map.zoom' events='mapevents'>
                            <ui-gmap-marker ng-repeat="m in markers" coords="m.coords" options="m.options" events="m.events" idkey="m.id">
                            </ui-gmap-marker>
                        </ui-gmap-google-map>
                        <input type="text" class="form-control" ng-model="client.coordenates" disabled required>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<style>
    .angular-google-map-container {
        height: 400px;
        max-width: none;
    }
</style>
