<!-- Custom styles for this template -->
<link href="signin.css" rel="stylesheet">

<body>
    <div class="container">

        <form class="form-signin">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input name="user.email" ng-model="user.email" type="input" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>

            <label for="inputPassword" class="sr-only">Password</label>
            <input name="user.password" ng-model="user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Sign in</button>
            <div ng-if="incorrectLogin" class="alert alert-danger">Login incorrecto</div>
        </form>

    </div> <!-- /container -->
</body>