<br />
<form class="form-horizontal" style="margin:20px">
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Mail Type</label>
        <div class="col-sm-10">
            <input disabled="disabled" type="text" class="form-control" id="description" placeholder="Description" value="{{feature.mailtype}}">
        </div>
    </div>
    <br />
    <div class="form-group">
        <label for="description" class="col-sm-2 control-label">Feature</label>
        <div class="col-sm-10">
            <input ng-model="feature.description" type="text" class="form-control" id="description" placeholder="Description">
        </div>
    </div>
    <br />
    <button class="btn btn-success" ng-click="ok()">{{feature.idProjectFeature != 0 ? "Update" : "Create"}}</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    <br />
    <br />
</form>
