<div class="container">
    <div class="panel panel-primary">
        <div class="panel-body">
            <!--<ul class="nav nav-tabs">
                <li role="presentation" class="active"><a data-target="#main">Principal</a></li>
                <li role="presentation"><a data-target="#courts">Canchas</a></li>
                <li role="presentation"><a data-target="#map">Mapa</a></li>
            </ul>-->
            <uib-tabset active="active">
                <uib-tab index="0" heading="Principal">
                    <div class="form-group">
                        <label for="email">Nombre:</label>
                        <input type="email" class="form-control" ng-model="client.nombre">
                    </div>
                    <div class="form-group">
                        <label for="email">Direccion:</label>
                        <input type="email" class="form-control" ng-model="client.direccion">
                    </div>
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" ng-model="client.email">
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Canchas">
                    <h2>canchitas</h2>
                </uib-tab>
                <uib-tab index="2" heading="Mapa">
                    <h2>mapita</h2>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="panel-footer">
        <button type="submit" class="btn btn-default">Submit</button>
            <a href="#adminhome"><button type="submit" class="btn btn-default">Volver</button></a>
        </div>
    </div>
</div><!-- /.container -->
