body {
	color: black;
}
.app {
	background: #f0f0f0;
}
.section {
	background: none;
}

.match-block {
	border: 2px solid #BFBFBF;
	text-align: center;
	background: whitesmoke;
	color: #7b7b7b;
}
.match-block h2 {
	padding: 6px 0;
	margin: 0;
	border-bottom: 2px solid #BFBFBF;
}

.match-row {
	padding: 0;
}
.match-row .date {
	font-size: 25px;
	line-height: 66px;
}

.angular-google-map-container { height: 400px; }