<div class="modal-body">
    <div class="form-body">
        <div class="row">
            <div class="col-md-3"><h4>Día</h4></div>
            <div class="col-md-3"><h4>Horario #1</h4></div>
            <div class="col-md-3"><h4>Horario #2</h4></div>
            <div class="col-md-3"><h4>Acciones</h4></div>
        </div>
        <div class="row" ng-show="client.clientSchedule.length==0">
            <h3>Sin horarios especificados</h3>
        </div>
        <div class="row" ng-repeat="c in client.clientSchedule | orderBy:'idDay'">
            <div class="col-md-3">
                <div class="form-group">
                    <select class="form-control" ng-model="c.idDay" ng-options="co.value as co.label for co in days" disabled></select>
                </div>
            </div>
            <div class="col-md-3">
                <h3> {{c.from | date :  "HH:mm"}} - {{c.to | date :  "HH:mm"}}</h3>
            </div>
            <div class="col-md-3">
                <h3 ng-if="c.fromBreak">{{c.fromBreak | date :  "HH:mm"}} - {{c.toBreak | date :  "HH:mm"}}</h3>
            </div>
            <div class="col-md-3">
                <button type="button" class="btn btn-info glyphicon glyphicon-pencil" ng-click="editSchedule(c)"></button>
                <button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="removeSchedule(c)"></button>
            </div>
        </div>
        <div class="row">
            <!--<label class="m-t-40">Auto close Clock Picker</label>
            <div class="input-group clockpicker " data-placement="bottom" data-align="top" data-autoclose="true">
                <input type="text" class="form-control" value="13:14"> <span class="input-group-addon"> <span class="glyphicon glyphicon-time"></span> </span>
            </div>-->
            <button type="button" class="btn btn-success" ng-click="editSchedule()">Agregar Horario</button>
        </div>
    </div>
</div>
<!-- Page plugins css -->
<link href="app/src/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
<!-- Color picker plugins css -->
<link href="app/src/plugins/bower_components/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
<!-- Date picker plugins css -->
<link href="app/src/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<!-- Daterange picker plugins css -->
<link href="app/src/plugins/bower_components/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
<link href="app/src/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
<!-- Plugin JavaScript -->
<script src="app/src/plugins/bower_components/moment/moment.js"></script>
<!-- Clock Plugin JavaScript -->
<script src="app/src/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js"></script>
<!-- Color Picker Plugin JavaScript -->
<script src="app/src/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
<script src="app/src/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
<script src="app/src/plugins/bower_components/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
<!-- Date Picker Plugin JavaScript -->
<script src="app/src/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<!-- Date range Plugin JavaScript -->
<script src="app/src/plugins/bower_components/timepicker/bootstrap-timepicker.min.js"></script>
<script src="app/src/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<style>
    .clockpicker-popover {
        z-index: 999999 !important;
    }
</style>