<script>

    (function () {
        $('.modal-dialog').find('form').validator('destroy').validator()
    }());

</script>

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="leave()">×</button>
    <h4 class="modal-title">Editar cancha</h4>
</div>

<form name="courtform" ng-submit="save()" novalidate data-toggle="validator">
    <div class="modal-body">
        <div class="form-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Nombre:</label>
                        <input name="courtdescription" class="form-control" type="text" class="form-control" ng-model="court.description" data-error="La descripcion es obligatoria" required="">
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tipo de Cancha:</label>
                        <select name="court.idCourtType" class="form-control" ng-model="court.idCourtType" ng-options="c.idCourtType as c.description for c in courttypes" required data-error="El tipo de cancha es obligatorio"></select>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Tipo de Piso:</label>
                        <select name="court.idFloorType" class="form-control" ng-model="court.idFloorType" ng-options="c.idFloorType as c.description for c in floortypes" required data-error="El tipo de piso es obligatorio"></select>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Valor 1:</label>
                        <input type="input" class="form-control" ng-model="court.value1">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Valor 2:</label>
                        <input type="input" class="form-control" ng-model="court.value2">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Valor 3:</label>
                        <input type="input" class="form-control" ng-model="court.value3">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Valor 4:</label>
                        <input type="input" class="form-control" ng-model="court.value4">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <div class="checkbox checkbox-success">
                            <input id="checkbox34" type="checkbox" ng-model="court.isSoccer">
                            <label for="checkbox34">Cancha de fútbol?</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" ng-click="leave()">Cancelar</button>
        <button type="submit" class="btn btn-danger waves-effect waves-light">Guardar</button>
    </div>
</form>