<div class="ng-scope">
    <div class="section">
        <fieldset>
            <legend>
                Invitar Amigos
                <button ng-click="cancel()" type="button" style="float:right" class="btn btn-info">
                    Volver
                </button>
            </legend>
            <div class="form-group has-success has-feedback">
                <input type="text" ng-model="user" class="form-control" placeholder="Nombre de usuario" />
            </div>
            <table class="table">
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <img src="app/src/assets/img/anonymous.png">
                    </td>
                    <td>
                        <b>Anónimo</b>
                    </td>
                    <td>
                        <button class="btn btn-success">Agregar</button>
                    </td>
                </tr>
                <tr ng-repeat="u in users">
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>
                        <img ng-src="{{photoUrl}}" />
                    </td>
                    <td>
                        <p>{{u.name}}</p>
                    </td>
                    <td>
                        <button class="btn btn-success">Invitar</button>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>
</div>