<body ng-controller="mainCtrl">
    <div class="scrollable-content">
        <button type="button" id="login" ng-click="login()">login</button>
        <button type="button" id="api" ng-click="api()">api user data call</button>
        <button type="button" id="remove_auth" ng-click="removeAuth()">remove auth</button>
        <pre>isReady: <span id="is_ready" ng-bind="facebookIsReady"></span></pre>
        <pre>status: <span id="login_status" ng-bind="loginStatus"></span></pre>
        <div ng-show="user">
            <pre>username: <span id="api_first_name" ng-bind="user.name"></span></pre>
            <pre>email: <span id="api_first_name" ng-bind="user.email"></span></pre>
            <pre>firstname: <span id="api_first_name" ng-bind="user.first_name"></span></pre>
            <pre>lastname: <span id="api_first_name" ng-bind="user.last_name"></span></pre>
            <pre>gender: <span id="api_first_name" ng-bind="user.gender"></span></pre>
            <pre>birthday: <span id="api_first_name" ng-bind="user.birthday"></span></pre>
            <img ng-src="{{user.picture.data.url}}" />
        </div>
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </div>
</body>