<div class="scrollable ng-scope">
    <div class="scrollable-content section">
        <fieldset>
            <legend>"{{match.matchName}}"</legend>
            <div class="panel panel-default">
                <div class="panel-heading"><b>Jugadores</b></div>
                <table class="table">
                    <tr ng-repeat="p in players | orderBy:'datetime'">
                        <td>
                            <img ng-src="{{p.photoUrl}}" ng-if="p.fromFacebook" />
                            <p>{{p.name}}</p>
                        </td>
                        <td><invitation-status i="p.invitationStatus"></invitation-status></td>
                        <td><button ng-if="!p.isOwner" ng-click="deletePlayer(p.id)"><img ng-src="app/src/assets/img/delete.png"></button></td>
                    </tr>
                    <tr>
                        <td><button ng-click="invitePlayers()">+</button></td>
                    </tr>
                </table>
            </div>
        </fieldset>
        <hr>
        <input type="button" class="btn btn-primary btn-block" value="Guardar" ng-click="updateMatch()" />
    </div>
</div>
